*,
*afetr,
*before {
   padding: 0;
   margin: 0;
}

body {
   font-family: 'PT Sans', sans-serif;
   box-sizing: border-box;
   padding: 0 10px;
}
.container {
   max-width: 1200px;
   margin: 0 auto;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.29);
   overflow: hidden;
}

ul,
li {
   margin: 0;
   padding: 0;
   list-style: none;
}

a {
   text-decoration: none;
}

p {
   font-size: 14px;
   line-height: 26px;
   font-weight: 400;
   color: #333333;
   text-transform: uppercase;
}

h1, h2, h3 {
   font-weight: 700;
   line-height: 26px;
   font-size: 21px;
   text-transform: uppercase;
}

@import "top-nav";

@import "header-img";

.main-title {
   text-align: center;
   height: 210px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.features {
   display: flex;
   height: 255px;
   &__text {
      width: 400px;
      background-color: #81b3d2;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
   &__title {
         font-size: 21px;
         line-height: 26px;
         font-weight: 700;
         color: #fff;
         text-transform: uppercase;
   }
   &__description {
         color: #fff;
         font-size: 14px;
         line-height: 21px;
         font-weight: 400;
         text-transform: uppercase;
   }
   &__img {
      background: url(../img/photo-city@1x.jpg) no-repeat center / cover;
      width: 100%;
   }
.second {
   background: url(../img/photo-bridge@1x.jpg) no-repeat center / cover;
   width: 100%;
}
}
.description {
   padding: 12px 0;
}

.place {
   display: flex;
   height: 320px;
   align-items: center;
   &__one {
      width: 33.3333%;
      text-align: center;
   }
}

// offer 
 .offer {
    height: 190px;
    text-align: center;
    padding-top: 60px;
 }